<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="/admin-property/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">
      <%= username %>
    </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="/admin" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <!----------------- menu -------------------->
        <li class="nav-item">
          <a href="/user-list" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              User
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              User Setting
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">

            <li class="nav-item">
              <a href="/language" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Language</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/qualification" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Qualification</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Category
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/group" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Group
            </p>
          </a>
        </li> 

        <li class="nav-item">
          <a href="/course" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Course
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/chapter" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Chapter
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/lesson" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Lesson
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/assignment" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Assignment
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/enrollment" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Enrollment
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/maintenance" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Maintenance mode
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/task" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Task
            </p>
          </a>
        </li>

        

         

        <!-- <li class="nav-item">
          <a href="/userSetting" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              User Setting
            </p>
          </a>
        </li> -->

        <!-------------- menu end --------------------------->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>