DirectoryIndex disabled
RewriteEngine On
RewriteRule ^$ http://127.0.0.1:3200/admin/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:3200/admin/$1 [P,L]
